.verkefni {
    h1 {
        text-align: center;
    }
}

.verkefnacard {
    border: 1px solid $border-color;
    border-radius: $border-large;
    padding: $spacing;
    margin-bottom: $spacing;
}

.verkefniupprodun {
    display: flex;
    flex-direction: row;
    gap: $spacing;
    padding: $spacing;
    max-width: $max-width;
    margin: 0 auto;
}